@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow+Condensed:wght@600&family=Bebas+Neue&family=Inter:wght@200;500&family=Montserrat&family=Open+Sans:wght@300&family=Outfit:wght@200;500&family=Poppins&family=Raleway:wght@100&family=Rubik:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  ;
  color: #1e0f0f;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #131B23;
  position: relative;
  overflow: auto;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #131b2377;
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  padding-block: 1rem;
}

.pokemon-logo {
  display: flex;
  height: 86px;
}

.logo {
  display: flex;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.poke-card {
  width: 285px;
  display: flex;
  flex-direction: column;
  border: #EDDE7E 14px solid;
  border-radius: 24px;
}

.fire {
  background-image: url(/assets/img//fire-bg.png);
  background-size: cover;
}

.grass {
  background-image: url(/assets/img/grass-bg.png);
  background-size: cover;
}

.water {
  background-image: url(/assets/img/water-bg.png);
  background-size: cover;
}

.electric {
  background-image: url(/assets/img/electric-bg.png);
  background-size: cover;
}

.flying {
  background-image: url(/assets/img/flying-bg.png);
  background-size: cover;
}

.ghost {
  background-image: url(/assets/img/ghost-bg.png);
  background-size: cover;
}

.psychic {
  background-image: url(/assets/img/psychic-bg.png);
  background-size: cover;
}

.poison {
  background-image: url(/assets/img/poison-bg.png);
  background-size: cover;
}

.bug {
  background-image: url(/assets/img/bug-bg.png);
  background-size: cover;
}

.rock {
  background-image: url(/assets/img/rock-bg.png);
  background-size: cover;
}

.ground {
  background-image: url(/assets/img/ground-bg.png);
  background-size: cover;
}

.steel {
  background-image: url(/assets/img/steel-bg.png);
  background-size: cover;
}

.fighting {
  background-image: url(/assets/img/fighting-bg.png);
  background-size: cover;
}

.normal {
  background-image: url(/assets/img/normal-bg.png);
  background-size: cover;
}

.fairy {
  background-image: url(/assets/img/fairy-bg.png);
  background-size: cover;
}

.section-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.25rem 1rem;
}

.section-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25rem;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.poke-name {
  display: flex;
  flex-direction: column;
}

.middle-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.15rem
}

.middle-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block: 0.25rem;
}

.pokemon-class {
  font-size: 8px;
  font-weight: 600;
}

.pokemon-name {
  font-weight: 700;
  text-transform: capitalize;
}

.type-hp {
  display: flex;
  align-items: center;
}

.hp {
  color: #b97200;
  font-weight: 700;
}

.type-icon {
  height: 25px;
  width: 25px;
  display: flex;
}

.poke-image {
  display: flex;
  width: 100%;
  height: 170px;
  border: outset #ffd907 5px;
  justify-content: center;
  background-image: url(/assets/img/black-white-sun-rays-pattern-background-creative-vector-design_116849-949.avif);
  background-size: cover;
}

.pokemon-image {
  display: flex;
  width: 100%;
  height: 100%;
}

.stats {
  display: flex;
  width: 210px;
  justify-content: center;
  background: rgb(255, 217, 7);
  background: radial-gradient(circle, rgba(255, 217, 7, 1) 0%, rgba(173, 151, 106, 1) 75%);
  border-left: 4px solid rgba(255, 217, 7, 1);
  border-right: 4px solid rgba(255, 217, 7, 1);
}

.species {
  text-transform: capitalize;
}

.unit {
  font-size: 8px;
  font-style: italic;
  font-weight: 700;
}

.ability {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 2px solid black;
  padding-block: 1rem;
}

.ability-name {
  font-weight: 900;
}

.value {
  font-size: 8px;
  font-weight: 700;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #9E9E9E;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EDDE7E;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fecc05ba;
}